# URL untuk komunikasi dengan Laravel Backend (Ubah port jadi 8001 sesuai setting terbaru)
VITE_API_URL=http://localhost:8001/api

# URL untuk komunikasi dengan FastAPI AI Service (di port 8000)
VITE_AI_SERVICE_URL=http://localhost:8000
